<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Acessar conta</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../css/style.min.css" rel="stylesheet">
</head>

<body>

  <!-- Navbar -->
  <%- include('./navbar'); %>
  <!-- Navbar -->

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="sidenav">
        <div class="login-main-text text-center">
           <h2>Faça login ou <a href="client-register.html">registre-se</a> aqui para acessar.</h2>
        </div>
     </div>
     <div class="main">
        <div class="col-md-6 col-sm-12 mt-5 pt-4">
           <div class="login-form">
              <form>
                 <div class="form-group">
                    <label>E-mail</label>
                    <input type="text" class="form-control" placeholder="Digite seu e-mail">
                 </div>
                 <div class="form-group">
                    <label>Senha</label>
                    <input type="password" class="form-control" placeholder="Digite sua senha">
                 </div>
                 <button type="submit" class="btn btn-black">Entrar</button>
                 <a href="/cadastro" class="btn btn-secondary">Cadastrar</a>
              </form>
           </div>
        </div>
     </div>
  </main>
  <!--Main layout-->

<!--Footer-->
<%- include('./footer'); %>
<!--/.Footer-->

<!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="../js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
</body>

</html>
