<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="/" target="_blank">
      <strong class="blue-text">E-commerce</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/">Página inicial
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/contato">Contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/cadastro-produto">Cadastrar Produto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="/cadastro-pedido">Cadastrar Pedido</a>
        </li>
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link waves-effect">
            <span class="badge red z-depth-1 mr-1"> 1 </span>
            <i class="fas fa-shopping-cart"></i>
            <span class="clearfix d-none d-sm-inline-block">  </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/login" class="nav-link border border-light rounded waves-effect"
            target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
              <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg> Entrar
          </a>
        </li>
      </ul>

    </div>

  </div>
</nav>
<!-- Navbar -->