<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Cadastro de produto</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="../public/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="../public/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="../public/css/style.min.css" rel="stylesheet">
</head>

<body>

<!-- Navbar -->
<%- include('./navbar'); %>
<!-- Navbar -->

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="sidenav">
      <div class="login-main-text mt-6 pt-2 text-center">
         <h2>Sistema de cadastro - Produto</h2>
      </div>
   </div>
   <div class="main">
      <div class="col-md-6 col-sm-12 mt-5 pt-3">
         <div class="login-form">
            <form action="/produto/">
               <div class="form-group">
                  <label>Nome do produto</label>
                  <input type="text" class="form-control" placeholder="Digite nome do produto">
               </div>
               <div class="form-group">
                  <label>Valor</label>
                  <input type="number" class="form-control" placeholder="Digite valor">
               </div>
               <div class="form-group">
                <label>Quantidade</label>
                <input type="text" class="form-control" placeholder="Digite quantidade em estoque do produto">
             </div>
             <div class="form-group">
              <label>Modelo</label>
              <input type="text" class="form-control" placeholder="Digite modelo do produto">
             </div>
               <button type="submit" class="btn btn-secondary">Cadastrar Produto</button>
            </form>
         </div>
      </div>
   </div>
  </main>
  <!--Main layout-->
  
<!--Footer-->
<%- include('./footer'); %>
<!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="../public/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="../public/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="../public/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="../public/js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
</body>

</html>
