<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sobre</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="/css/style.min.css" rel="stylesheet">
</head>

<body>

  <!-- Navbar -->
  <%- include('./navbar'); %>
  <!-- Navbar -->

  <!--Main layout-->
  <main class="mt-5 pt-4">

    <div class="container">
      <h2 class="mt-5 pt-4 text-center">Sobre</h2>
      <p>A empresa AcateGama está revolucionando e investindo em uma nova tecnologia 
        para o BRUCE e para isso precisa de uma aplicação em Node.js para ajudar o Bruce a 
        atrair pessoas para essa nova tecnologia. 
        Crie uma REST Api usando Express para criar um CRUD com Node.js. 
        Para a solução, você deverá ser capaz de desenvolver uma API que realize um CRUD com 
        um tema livre (à sua escolha ou Ecomerce, banco digital ou uma rede social). 
        CRUD - contenha as ações de listar, cadastrar, editar e excluir determinado item. 
        O projeto será desenvolvido em três sprints. Cada etapa deve ser entregue em um 
        repositório público do github.</p>

        - <a href="https://trello.com/invite/b/QI6jW05r/b509de6ea00e08a7fba46ddf345915df/atividades"> Trello</a> <br/>
        - <a href="https://github.com/jefferson-dantonio/DevForTech-AcateGama"> GitHub </a><br/>
    </div>   


    <h2 class="mt-5 pt-4 text-center"> Grupo 1</h2>
    <div class="mt-5 pt-4 container text-center">
      <div class="row">
        <div class="col-sm">
          <a href="https://github.com/jefferson-dantonio" target="_blank">
            <img src="https://avatars.githubusercontent.com/u/55109733?v=4" class="rounded" alt="Vagner" height="100px">
            <p>Jefferson Malaquias</p> 
          </a>
        </div>
        <div class="col-sm">
          <a href="https://github.com/josalesmj" target="_blank">
            <img src="https://avatars.githubusercontent.com/u/32043542?v=4" class="rounded" alt="Vagner" height="100px">
             <p>Jó Sales</p>
          </a>
        </div>
        <div class="col-sm">
          <a href="https://github.com/JulianaMariaSousaMesquita" target="_blank">
            <img src="https://avatars.githubusercontent.com/u/60270373?s=96&v=4" class="rounded" alt="Juliana Mesquita" height="100px">
            <p>Juliana Mesquita</p>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="https://github.com/MeneMateus/" target="_blank">
            <img src="https://avatars.githubusercontent.com/u/63166237?v=4" class="rounded" alt="Vagner" height="100px">
            <p>Matheus</p>
          </a>
        </div>
        <div class="col">          
          <a href="https://github.com/vagnerbruno85/" target="_blank"> 
            <img src="https://avatars.githubusercontent.com/u/85170863?v=4" class="rounded" alt="Vagner" height="100px">
            <p>Vagner</p> </a><br>
        </div>
      </div>
    </div>
    
  </main>
  <!--Main layout-->

<!--Footer-->
<%- include('./footer'); %>
<!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();

  </script>
</body>

</html>
